public/videos/SOLDADORASPARK.mp4 filter=lfs diff=lfs merge=lfs -text
public/videos/WPCWall.mp4 filter=lfs diff=lfs merge=lfs -text
public/videos/WPCFencel.mp4 filter=lfs diff=lfs merge=lfs -text
public/videos/video_productos.mp4 filter=lfs diff=lfs merge=lfs -text
public/videos/video_inicio.mp4 filter=lfs diff=lfs merge=lfs -text
public/videos/VentiladorHolografico.mp4 filter=lfs diff=lfs merge=lfs -text
public/videos/SOLDADORALINGBA.mp4 filter=lfs diff=lfs merge=lfs -text
public/videos/SELLADORDEVASOS.mp4 filter=lfs diff=lfs merge=lfs -text
public/videos/SELLADORDEBOTELLAS.mp4 filter=lfs diff=lfs merge=lfs -text
public/videos/SELLADORDEBOLSAS.mp4 filter=lfs diff=lfs merge=lfs -text
public/videos/PROYECTO_PW_Quienes_somos.mp4 filter=lfs diff=lfs merge=lfs -text
public/videos/PRODUCTOSTAMI_1.mp4 filter=lfs diff=lfs merge=lfs -text
public/videos/MezcladoraContreto.mp4 filter=lfs diff=lfs merge=lfs -text
public/videos/MAQUINADEEMBALAJE.mp4 filter=lfs diff=lfs merge=lfs -text
public/videos/BAMBOOFIBERWALLBOARD.mp4 filter=lfs diff=lfs merge=lfs -text
